/*  
razzle dazzle rose - #F243C3
blue jeans - #54A4EA
royal purple - #803FBA
stil de grain yellow - #FFD460
Paltinate blue - #2E31FF
*/

/* globak style */ 
body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

img {
    height: 50;
    width: 25;
    /* display: none; */
    float: left;
}

/* header and footer  */
header, footer {
    background: rgb(235, 57, 188);
    color: rgb(111, 39, 174);
}
/*footer*/
footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

/* project  */
.project {
    background: rgb(30, 33, 218);
    color: rgb(248, 255, 106);
}
/* education  */
.education{
    background: rgb(119, 53, 177);
    color: rgb(244, 66, 196);
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
}

/* h1:hover {
    color: rgb(41, 0, 136);
}
h2 {
    color:yellow;
} */
p {
    color: rgb(111, 39, 174;
}
.demo {
    color: rgb(49, 240, 103);
}
#demo {
    color: blue;
}
ul li {
    color: rgb(255, 255, 255)
}
a {
    color: black;
}

/* selectors to change style on hover ---- */
a:hover {
    color: rgb(250, 9, 9);
}
/* a:visited {
    color: rgb(250, 9, 250);
} */
/* a:active {
    color: rgb(250, 9, 250);
} */
/* focus selector */
a:focus {
    outline: 1px rgb(250, 9, 250);
}
/* link selector */
#link {
color: rgb(215, 91, 215);
}

/* footer style */
